RequestEnv should be unwant reply

RFC4254 Section 6.4 describe environment variable passing can be filtered in security imprecations.
This can be resulted a reply become false, but it is not an error.

According to JGit discussion about behavior of Jsch env request,
it should be 'unwant-reply' and it is a JSch bug that it throws exception.
https://bugs.eclipse.org/bugs/show_bug.cgi?id=576922

When JGit request GIT_PROTOCOL=version=2 environment variable,
JSch should return even when it is not succeeded.


Hi @miurahr,

I believe this issue should be resolved in the [0.1.70](https://github.com/mwiede/jsch/releases/tag/jsch-0.1.70) release.

Thanks,
Jeremy

@norrisjeremy Thanks. I confirm that the release resolves my project issue.