comply with RFC4253 / 4.2 Protocol Version Exchange - missing CR in identification string

Hi, 

Recent CISCO devices are complaining against missing CR in identification string:  
`DAEMON-3-SYSTEM_MSG: error: protocol identification string lack carriage return - dcos_sshd[14616]`

Based on [RFC4253 section 4.2](https://datatracker.ietf.org/doc/html/rfc4253#section-4.2), identification string must be:  
`SSH-protoversion-softwareversion SP comments CR LF`

Spent very few times on sources but it seems a fix would only need following changes in [src/main/java/com/jcraft/jsch/Session.java](https://github.com/mwiede/jsch/blob/master/src/main/java/com/jcraft/jsch/Session.java):  
![session_fix](https://user-images.githubusercontent.com/43099755/136036358-97d2bf18-9347-4cc5-ad1f-aa95d9af8b1a.png)

Would you kindly review & consider implementing a fix ?
Thank you.

Hi @LuckyDams,

I believe this issue should be resolved in the [0.1.69](https://github.com/mwiede/jsch/releases/tag/jsch-0.1.69) release.

Thanks,
Jeremy

Hi @LuckyDams,

Can this be closed now?

Thanks,
Jeremy

Hi,

Yes sure. Sorry for this late reply.

Rgds,
Luc

Le jeu. 3 févr. 2022, 20:31, Jeremy Norris ***@***.***> a
écrit :

> Hi @LuckyDams <https://github.com/LuckyDams>,
>
> Can this be closed now?
>
> Thanks,
> Jeremy
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/mwiede/jsch/issues/83#issuecomment-1029328787>, or
> unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AKI2M25IYVJM6XDUYZ76II3UZLJY3ANCNFSM5FL2VIDQ>
> .
> Triage notifications on the go with GitHub Mobile for iOS
> <https://apps.apple.com/app/apple-store/id1477376905?ct=notification-email&mt=8&pt=524675>
> or Android
> <https://play.google.com/store/apps/details?id=com.github.android&referrer=utm_campaign%3Dnotification-email%26utm_medium%3Demail%26utm_source%3Dgithub>.
>
> You are receiving this because you were mentioned.Message ID:
> ***@***.***>
>
